.J-M.Gj .bbar-sateraito-ai-reply .J-N-Jz,
.J-M.Gj .bbar-sateraito-ai-reply img {
  pointer-events: none !important;
}
.J-M.Gj .bbar-sateraito-ai-reply:hover {
  background-color: #eee;
  color: #202124;
}

.sateraito-ai-reply {
  border: 1px solid;
  border-radius: 30px;
  font-size: 16px;
  color: rgb(64, 16, 157);
  padding-left: 16px;
  padding-right: 16px;
  margin: 0px 8px;
  height: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background: rgb(255, 255, 255);
}

.sateraito-ai-reply:hover {
  background-color: rgba(32, 33, 36, 0.0588235294);
}

.sateraito-ai-reply img,
.bbar-sateraito-ai-reply img {
  height: 20px;
}

.sateraito-ai-reply span {
  font-weight: 500;
  font-size: 0.875rem;
  margin-left: 5px;
}

.bbar-sateraito-ai-reply {
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin: 4px 12px 4px 0;
}

.hidden {
  display: none !important;
}

.loading {
  position: relative;
  overflow: hidden;
  border-radius: 5px !important;
}
.loading::before {
  content: "";
  position: absolute;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #ffffff, #f2ecff, #ffffff);
  background-size: 200% 100%;
  animation: slide 1.5s linear infinite;
}

#stateraito_addon_suggestion {
  --regular-color: #8d5bef !important;
}
#stateraito_addon_suggestion .item-detail-builder * {
  pointer-events: none;
}
#stateraito_addon_suggestion .header-text-suggestion {
  margin: 0;
}
#stateraito_addon_suggestion .header-text-suggestion .item-icon {
  width: 20px;
  height: 20px;
  min-width: 20px;
}
#stateraito_addon_suggestion .header-text-suggestion .item-icon svg {
  fill: #8d5bef !important;
}
#stateraito_addon_suggestion .container-tab a.show {
  color: #8d5bef !important;
  background: #f1eaff !important;
}
#stateraito_addon_suggestion .detail-suggestion i.item-icon {
  padding: 0 !important;
}
#stateraito_addon_suggestion .detail-suggestion i.item-icon svg {
  height: 19px;
  width: 19px;
}
#stateraito_addon_suggestion .detail-suggestion section::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-radius: 9999px;
}
#stateraito_addon_suggestion .detail-suggestion section::-webkit-scrollbar-button {
  display: none;
}
#stateraito_addon_suggestion .detail-suggestion section::-webkit-scrollbar-thumb {
  background: #b4b3b3;
  border-radius: 9999px;
}
#stateraito_addon_suggestion #shared_prompt_builders_list .accordion-button .item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
#stateraito_addon_suggestion #shared_prompt_builders_list .list-group i.item-icon svg {
  height: 18px;
  width: 18px;
}
#stateraito_addon_suggestion #shared_prompt_builders_list .accordion-item {
  transition: 0.15s all;
}
#stateraito_addon_suggestion #shared_prompt_builders_list .accordion-header .accordion-button {
  cursor: pointer;
}
#stateraito_addon_suggestion #shared_prompt_builders_list .accordion-header .item-icon.chevron_icon {
  transition: 0.25s all;
}
#stateraito_addon_suggestion #shared_prompt_builders_list .accordion-header.show {
  background-color: #ae8cf2 !important;
}
#stateraito_addon_suggestion #shared_prompt_builders_list .accordion-header.show .item-icon.chevron_icon {
  transform: rotate(180deg);
}

#ai_user_builder_popup_modal .modal-content .modal-header h2 {
  color: #8d5bef;
}
#ai_user_builder_popup_modal .modal-content .modal-header .item-icon.close-modal {
  width: 20px;
  height: 20px;
  opacity: 0.7;
  transition: 0.15s all;
}
#ai_user_builder_popup_modal .modal-content .modal-header .item-icon.close-modal:hover {
  opacity: 1;
}
#ai_user_builder_popup_modal .modal-content .block-form-builder .builder-lbl {
  color: #8d5bef;
}
#ai_user_builder_popup_modal .modal-content .modal-footer input[type=checkbox] {
  background-color: #8d5bef !important;
}
#ai_user_builder_popup_modal .modal-content .modal-footer button {
  padding: 1px 20px;
}
#ai_user_builder_popup_modal .modal-content .modal-footer button.st-btn-material {
  background-color: #8d5bef;
}
#ai_user_builder_popup_modal .modal-content .modal-footer button.st-btn-material:hover {
  background-color: #ae8cf2 !important;
}
#ai_user_builder_popup_modal .modal-content .modal-footer button:hover::before {
  background-color: #8d5bef;
}

.sateraito_ai_modal {
  z-index: 99999999999 !important;
}

@keyframes slide {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}/*# sourceMappingURL=style.css.map */