.J-M.Gj {
  .bbar-sateraito-ai-reply {

    .J-N-Jz,
    img {
      pointer-events: none !important;
    }

    &:hover {
      background-color: #eee;
      color: #202124;
    }
  }
}

.sateraito-ai-reply {
  border: 1px solid;
  border-radius: 30px;
  font-size: 16px;
  color: rgb(64, 16, 157);
  padding-left: 16px;
  padding-right: 16px;
  margin: 0px 8px;
  height: 36px;
  // width: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background: rgb(255, 255, 255);
}

.sateraito-ai-reply:hover {
  background-color: #2021240f;
}

.sateraito-ai-reply img,
.bbar-sateraito-ai-reply img {
  height: 20px;
}

.sateraito-ai-reply span {
  font-weight: 500;
  font-size: .875rem;
  margin-left: 5px;
}

.bbar-sateraito-ai-reply {
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin: 4px 12px 4px 0;
}

.hidden {
  display: none !important;
}

.loading {
  position: relative;
  overflow: hidden;
  border-radius: 5px !important;

  &::before {
    content: '';
    position: absolute;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #ffffff, #f2ecff, #ffffff);
    background-size: 200% 100%;
    animation: slide 1.5s linear infinite;
  }
}

#stateraito_addon_suggestion {
  --regular-color: #8d5bef !important;

  .item-detail-builder {
    * {
      pointer-events: none;
    }
  }

  .header-text-suggestion {
    margin: 0;

    .item-icon {
      width: 20px;
      height: 20px;
      min-width: 20px;

      svg {
        fill: #8d5bef !important;
      }
    }
  }

  .container-tab {
    a.show {
      color: #8d5bef !important;
      background: #f1eaff !important;
    }
  }

  .detail-suggestion {
    i.item-icon {
      padding: 0 !important;

      svg {
        height: 19px;
        width: 19px;
      }
    }

    section {
      &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
        border-radius: 9999px;
      }

      &::-webkit-scrollbar-button {
        display: none;
      }

      &::-webkit-scrollbar-thumb {
        background: #b4b3b3;
        border-radius: 9999px;
      }
    }
  }

  #shared_prompt_builders_list {

    .accordion-button {
      .item-icon {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .list-group {
      i.item-icon {
        svg {
          height: 18px;
          width: 18px;
        }
      }
    }

    .accordion-item {
      transition: .15s all;
    }

    .accordion-header {

      .accordion-button {
        cursor: pointer;
      }

      .item-icon {
        &.chevron_icon {
          transition: .25s all;
        }
      }

      &.show {
        background-color: #ae8cf2 !important;

        .item-icon {
          &.chevron_icon {
            transform: rotate(180deg);
          }
        }
      }
    }
  }
}

#ai_user_builder_popup_modal {
  .modal-content {
    .modal-header {
      h2 {
        color: #8d5bef;
      }

      .item-icon.close-modal {
        width: 20px;
        height: 20px;
        opacity: 0.7;
        transition: .15s all;

        &:hover {
          opacity: 1;
        }
      }
    }

    .block-form-builder {
      .builder-lbl {
        color: #8d5bef;
      }

    }

    .modal-footer {
      input[type="checkbox"] {
        background-color: #8d5bef !important;
      }

      button {
        padding: 1px 20px;

        &.st-btn-material {
          background-color: #8d5bef;

          &:hover {
            background-color: #ae8cf2 !important;
          }
        }

        &:hover {
          &::before {
            background-color: #8d5bef;
          }
        }
      }
    }
  }
}

.sateraito_ai_modal {
  z-index: 99999999999 !important;
}

@keyframes slide {
  0% {
    background-position: 100% 0;
  }

  100% {
    background-position: -100% 0;
  }
}